name: Create release

on:
  workflow_dispatch:
    inputs:
      version:
        description: "The version of React Native we want to release. For example 0.75.0-rc.0"
        required: true
        type: string
      is-latest-on-npm:
        description: "Whether we want to tag this release as latest on NPM"
        required: true
        type: boolean
        default: false
      dry-run:
        description: "Whether the job should be executed in dry-run mode or not"
        type: boolean
        default: true

jobs:
  create_release:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.REACT_NATIVE_BOT_GITHUB_TOKEN }}
          fetch-depth: 0
          fetch-tags: 'true'
      - name: Execute Prepare Release
        uses: ./.github/actions/create-release
        with:
          version: ${{ inputs.version }}
          is-latest-on-npm: ${{ inputs.is-latest-on-npm }}
          dry-run: ${{ inputs.dry-run }}
